* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background: #323232;
  color: #ffffff;
}

#network, #battery, #clock {
  padding: 0 10px;
  }


  #workspaces button {
    padding: 0 8px;
    color: #cccccc;
    background: transparent;
    border: none;
}

#workspaces button.focused {
    background: #6b6b6b;
    color: #ffffff;
    border-radius: 6px;
}

#workspaces button.urgent {
    background: #8a5a5a;
    color: #ffffff;
}


